h1 hello!

form(action="/application", method="POST")
    input(type="text" name="date" id="input_date" placeholder="날짜")
    input(type="text" name="content" id="input_content" placeholder="내용")
    input(type="submit", value="submit")