h1 hello!

form(action="/application", method="POST")
    input(type="date" name="start_date" id="start_date" placeholder="날짜" required="true")
    select(name="start_hour")
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10
        option(value="11") 11
        option(value="12") 12
        option(value="13") 13
        option(value="14") 14
        option(value="15") 15
        option(value="16") 16
        option(value="17") 17
        option(value="18") 18
        option(value="19") 19
        option(value="20") 20
        option(value="21") 21
        option(value="22") 22
        option(value="23") 23
        option(value="24") 24
    span 시

    select(name="start_minute")
        option(value="0") 0
        option(value="10") 10
        option(value="20") 20
        option(value="30") 30
        option(value="40") 40
        option(value="50") 50
    span 분부터
    br

    input(type="date" name="end_date" id="end_date" placeholder="날짜" required="true")
    select(name="end_hour")
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10
        option(value="11") 11
        option(value="12") 12
        option(value="13") 13
        option(value="14") 14
        option(value="15") 15
        option(value="16") 16
        option(value="17") 17
        option(value="18") 18
        option(value="19") 19
        option(value="20") 20
        option(value="21") 21
        option(value="22") 22
        option(value="23") 23
        option(value="24") 24
    span 시

    select(name="end_minute")
        option(value="0") 0
        option(value="10") 10
        option(value="20") 20
        option(value="30") 30
        option(value="40") 40
        option(value="50") 50
    span 분까지

    br
    span 장소: 
    select(name="location")
        option(value="101호") 101호
        option(value="102호") 102호
        option(value="103호") 103호
        option(value="시제품제작실") 시제품제작실
        option(value="버추얼라이브러리") 버추얼라이브러리
        option(value="종합제작스튜디오") 종합제작스튜디오
        option(value="편집스튜디오") 편집스튜디오
        option(value="그래픽스튜디오") 그래픽스튜디오
        option(value="사운드스튜디오") 사운드스튜디오
        option(value="2층프로젝트공간") 2층프로젝트공간
        option(value="301호") 301호
        option(value="302호") 302호
        option(value="303호") 303호
        option(value="대강의실") 대강의실
        option(value="305호") 305호
        option(value="306호") 306호
        option(value="307호") 307호
        option(value="309호") 309호
        option(value="3층프로젝트공간") 3층프로젝트공간
    br
    span 분류: 
    select(name="category")
        option(value="회의") 회의
        option(value="행사") 행사
        option(value="교육") 교육
    br
    span 사업명:
    input(type="text" name="projectName" id="input_content" placeholder="ex)창의인재동반사업" required="true")
    br
    span 행사명: 
    input(type="text" name="content" id="input_content" placeholder="ex)창의인재동반사업 멘티 선발" required="true")
    br
    span 신청자: 
    input(type="text" name="name_maker" id="input_content" placeholder="신청자" required="true")
    br
    span 사용자: 
    input(type="number" name="user_count" id="input_content" placeholder="사용자수" required="true" min="0")
    br
    input(type="submit", value="submit")