h1 hello!


form(action="/application", method="post")
    input(type="text" name="date" id="input_date" placeholder="날짜")
    input(type="text" name="content" id="input_content" placeholder="내용")
    button(type="submit")